<%- include ("includes/header") %>

<section>
    <div class="gap gray-bg">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="row" id="page-contents">

                        <div class="col-md-3">
                            <%- include ("includes/left-sidebar") %>
                        </div>

                        <div class="col-md-6">
                            <div class="central-meta">
                                <div class="editing-info">

                                    <h5 class="f-title">
                                        <i class="ti-info-alt"></i>
                                        Edit Page
                                    </h5>

                                    <form onsubmit="return editPage(this);">

                                        <input type="hidden" name="_id" value="<%= page._id %>" required />

                                        <div class="form-group">
                                            <label>Cover photo</label>
                                            <input type="file" name="coverPhoto" id="coverPhoto" accept="image/*" onchange="previewCoverPhoto();" />
                                            <i class="mtrl-select"></i>

                                            <img id="cover-photo" src="/<%= page.coverPhoto %>" onerror="this.src = '/public/img/default_cover.jpg';" />

                                            <br />
                                        </div>

                                        <div class="form-group">
                                            <input type="text" name="name" required value="<%= page.name %>" />
                                            <label class="control-label">Page Name</label>
                                            <i class="mtrl-select"></i>

                                            <br />
                                        </div>

                                        <div class="form-group">
                                            <input type="text" name="domainName" value="<%= page.domainName %>" />
                                            <label class="control-label">www.yourdomain.com</label>
                                            <i class="mtrl-select"></i>

                                            <br />
                                        </div>

                                        <div class="form-group">
                                            <textarea rows="4" name="additionalInfo" required><%= page.additionalInfo %></textarea>
                                            <label class="control-label">Additional Info</label>
                                            <i class="mtrl-select"></i>

                                            <br />
                                        </div>

                                        <button type="submit" class="mtr-btn" name="submit">
                                            <span>Guardar</span>
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>

    function previewCoverPhoto() {
        var file = document.getElementById("coverPhoto").files;
        if (file.length > 0) {
            var fileReader = new FileReader();
 
            fileReader.onload = function (event) {
                document.getElementById("cover-photo").setAttribute("src", event.target.result);
            };
 
            fileReader.readAsDataURL(file[0]);
        }
    }

    function editPage(form) {
        form.submit.setAttribute("disabled", "disabled");

        var ajax = new XMLHttpRequest();
        ajax.open("POST", "/editPage", true);

        ajax.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                form.submit.removeAttribute("disabled");
                
                var response = JSON.parse(this.responseText);
                if (response.status == "error") {
                    swal("Error", response.message, "error");
                } else if (response.status == "success") {
                    swal("Success", response.message, "success");
                }
            }
        };

        var formData = new FormData(form);
        formData.append("accessToken", localStorage.getItem("accessToken"));
        ajax.send(formData);

        return false;
    }
</script>

<%- include ("includes/footer") %>