<%- include ("includes/header") %>

<section>
    <div class="gap gray-bg">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="row" id="page-contents">

                        <div class="col-md-12">
                            <div class="central-meta">
                                <div class="editing-info">

                                    <h5 class="f-title">
                                        <i class="ti-info-alt"></i>
                                        Edit Page
                                    </h5>

                                    <%- include ("includes/alerts") %>

                                    <form method="POST" action="<%= mainURL + '/editTicket/' + _id %>" id="form-edit-ticket" enctype="multipart/form-data">

                                        <input type="hidden" name="accessToken" value="" required />

                                        <div class="form-group">
                                            <label>Image</label>
                                            <input type="file" name="image" accept="image/*" onchange="previewPostImage(this, 'image');" />
                                            <i class="mtrl-select"></i>

                                            <img id="image" onerror="this.src = '/public/img/default_cover.jpg';" />

                                            <br />
                                        </div>

                                        <div class="form-group">
                                            <label>Video</label>
                                            <input type="file" name="video" accept="video/*" onchange="previewPostVideo(this, 'video');" />
                                            <i class="mtrl-select"></i>

                                            <video id="video" poster="/public/img/default_cover.jpg" style="width: 100%;" controls></video>

                                            <br />
                                        </div>

                                        <div class="form-group">
                                            <textarea rows="4" name="description" required></textarea>
                                            <label class="control-label">Description</label>
                                            <i class="mtrl-select"></i>

                                            <br />
                                        </div>

                                        <button type="submit" class="mtr-btn" name="submit">
                                            <span>Guardar</span>
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<input type="hidden" id="ticket-id" value="<%= _id %>" />

<script>

    var isEditTicketPage = true;

    function getTicketData() {
        var ajax = new XMLHttpRequest();
        ajax.open("POST", "/getTicket", true);

        ajax.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                var response = JSON.parse(this.responseText);
                if (response.status == "error") {
                    swal("Error", response.message, "error");
                } else if (response.status == "success") {
                    var data = response.data;

                    var form = document.getElementById("form-edit-ticket");
                    form.description.value = data.description;
                    form.accessToken.value = localStorage.getItem("accessToken");

                    document.getElementById("image").setAttribute("src", mainURL + "/" + data.image);
                    document.getElementById("video").setAttribute("src", mainURL + "/" + data.video);
                }
            }
        };

        var formData = new FormData();
        formData.append("accessToken", localStorage.getItem("accessToken"));
        formData.append("_id", document.getElementById("ticket-id").value);
        ajax.send(formData);
    }
</script>

<%- include ("includes/footer") %>