<%- include ("includes/header") %>

<section>
	<div class="feature-photo">

		<figure>
			<img class="cover-photo" id="cover-photo" style="width: 100%; height: 300px; object-fit: cover;" src="<%= mainURL + "/" + user.coverPhoto %>" onerror="this.src = '/public/img/default_cover.jpg';">
		</figure>

		<div class="container-fluid">
			<div class="row merged">
				<div class="col-md-2">
					<div class="user-avatar">
						<figure>
							<img class="profile-image" id="profile-image" style="width: 100%; height: 150px; object-fit: cover;" src="<%= mainURL + "/" + user.profileImage %>" onerror="this.src = '/public/img/default_profile.jpg';">
						</figure>
					</div>
				</div>
				<div class="col-md-10">
					<div class="timeline-info">
						<ul>
							<li class="admin-name">
								<h5 class="user-name" style="padding-top: 20px; padding-bottom: 20px;">
                                    <%= user.name %>
                                </h5>

                                <span><%= user.friends.length %> friends</span>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section>
	<div class="gap gray-bg">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					<div class="row" id="page-contents">

						<div class="col-md-3">
							<div class="central-meta">
								<div class="editing-info">
                                    <p><b>Nombre Completo:</b> <%= user.name %></p>
                                    <p><b>Email:</b> <%= user.email %></p>
                                    <p><b>Fecha de Nacimiento:</b> <%= user.dob == "" ? "N/A" : user.dob %></p>
                                    <p><b>Ciudad:</b> <%= user.city == "" ? "N/A" : user.city %></p>
                                    <p><b>Área:</b> <%= user.country == "" ? "N/A" : user.country %></p>
                                    <p><b>Descripción:</b> <%= user.aboutMe == "" ? "N/A" : user.aboutMe %></p>
								</div>
							</div>
						</div>

                        <div class="col-md-6">
                            <div class="loadMore" id="newsfeed"></div>
                        </div>

					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<input type="hidden" id="username" value="<%= user.username %>">

<script>

    var isUserProfile = true;

    function getUserFeed() {
        var ajax = new XMLHttpRequest();
        ajax.open("POST", "/getUserFeed", true);

        ajax.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                var response = JSON.parse(this.responseText);
                renderFeed(response);
            }
        };

        var formData = new FormData();
        formData.append("username", document.getElementById("username").value);
        formData.append("auth_user", window.user.username);
        ajax.send(formData);
    }
</script>

<%- include ("includes/footer") %>